
.activities {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.activities-grid {
  width: 90%;
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;

}
.activity-box {

  border: 1px solid light-grey;
  box-shadow: 0 0 2px 0 rgba(46,62,72,.12),
              0 2px 4px 0 rgba(46,62,72,.12);
  border-radius: 8px;
}
.activity-image {
  width: 100%;
}

.activity-image-box{
  position: relative;
}
.date-badge {
  position: absolute;
  top: 0;
  font-size: 15px;
  background-color: white;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 36px;
  min-height: 36px;
  padding: 8px;
  border: 1px solid rgba(46,62,72,.12);
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 10px;
}
.day {
  font-size: 20px;
  color: #f13a59;
}
.month {
  color: rgba(46,62,72,.6);
  text-transform: uppercase;
}
