
.activities {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.activities-grid {
  width: 90%;
  margin-top: 10px;
  background: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
