.search {
  background-color: rgba(255, 255, 255, 0.15);
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-box {
  display: flex;
  width: 80%;
}
.fa-search {
  margin: auto;
  font-size: 19px;
}
.input-field {
  margin-left: 9px;
  color: white;
}
